main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_form {
    height: 400px;
    width: 500px;
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#login_form label {
    margin-right: 15px;
}

#login_form button {
    background: #31A5FF;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 5px;
}

#phone_form button {
    margin: 0 auto;
}