{% extends "layout.html.jinja" %}

{% block head %}
    <title>Customer</title>
    <link rel="stylesheet" href="/static/customer.css" />
{% endblock head %}
    <span>Customer List</span>
{% block body %}
    <table>
    {% for client in results %}
        <tr>
            {% for x in client %}
                <td>{{ x }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock body %}