{% extends "layout.html.jinja" %}

{% block head %}
    <title>Hands Free</title>
    <link rel="stylesheet" href="/static/index.css" />
    <script type="text/javascript" src="/static/twil.js"></script>
{% endblock head %}

{% block body %}
    <form id="login_form" method="POST" action="login">
        <div>
            <label for="empl_id">Employee ID</label>
            <input type="text" name="empl_id" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <div>
            <button>login</button>
        </div>
    </form>
{% endblock body %}