<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="/static/main.css" />
    {% block head %}
    {% endblock head %}
</head>

<body>
    <header>
    </header>

    <main>
        {% block body %}
        {% endblock body %}
    </main>
    
    <footer>
    </footer>
</body>

</html>