{% extends "layout.html.jinja" %}

{% block head %}
    <title>Schedule</title>
    <link rel="stylesheet" src="schedule.css" />
{% endblock head %}

{% block body %}
    <span id="date">September 26, 2020</span>

    <section id="schedule">
        <p>Stuff in here</p>
    </section>
{% endblock body %}