{% extends "layout.html.jinja" %}

{% block head %}
    <title>Schedule</title>
    <link rel="stylesheet" href="/static/schedule.css" />
{% endblock head %}

{% block body %}
    <span id="date">{{ date }}</span>

    <section id="schedule">
        {% if schedule %}
            <table>
            {% for appointment in schedule %}
                <tr>
                {% for detail in appointment %}
                    <td>{{ detail }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No appointments</p>
        {% endif %}
    </section>

    <button>add appointment</button>
{% endblock body %}